<div class="chart__inner component__inner">
  {{> component this}}
  <canvas id="myChart{{_id}}" class="chart__widget component__widget" width="640" height="360" style="width: 100%; height: 100%;"></canvas>
</div>
